
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "" +
                "Estadisticas";
}

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        A basic column chart compares rainfall values between four cities.
    </p>
</figure>

@section scripts{

    <script type="text/javascript">
        $(function () {
            $.get("@Url.Action("NotasAcademia","Notas")", function (data) {

                $(function () {
                    $.get("@Url.Action("AsignaturasAcademia","Asignaturas")", function (asig) {

                        Highcharts.chart('container', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Estudiantes'
                            },
                            subtitle: {
                                text: 'Source: Academia LLC'
                            },
                            xAxis: {

                                categories:
                                    asig,
                                crosshair: true
                            },
                            yAxis: {
                                min: 0.0,
                                max: 5.0,
                                title: {
                                    text: 'Notas (0-5)'
                                }
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.1f} Provisional</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            plotOptions: {
                                column: {
                                    pointPadding: 0.2,
                                    borderWidth: 0
                                }
                            },
                            series: data
                        });
                    });
                });
            });
        });


    </script>
 
}

@section styles{
    <style type="text/css">
        .highcharts-figure, .highcharts-data-table table {
            min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
        }

        #container {
            height: 400px;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }
    </style>
}